{% extends 'base.html.twig' %}

{% block title %}Hello DiscountCalculatorController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/discounts/src/Controller/DiscountCalculatorController.php'|file_link(0) }}">src/Controller/DiscountCalculatorController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/discounts/templates/discount_calculator/index.html.twig'|file_link(0) }}">templates/discount_calculator/index.html.twig</a></code></li>
        <li>
            <ul>
                {% for customer in customers %}
                    <li>{{ customer.getName() }}</li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <ul>
                {% for product in products %}
                    <li>{{ product.getDescription() }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
